name: Bazel Build

on: [pull_request]

jobs:
  macos-test:
    name: macOS test
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_13.2.app
      - name: test
        run: bazelisk test //...
  linux-test:
    name: Linux test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - uses: fwal/setup-swift@286618643423cd7921459c230b7cd8a96c9c7a10
        with:
          swift-version: "5.7.1"
      - name: Get swift version
        run: swift --version
      - name: test
        run: CC=clang bazelisk test --build_tests_only //test:swift_binary_test //test:swift_test
